.anchor-pane {
    -fx-background-color: #2f3136; // 0 Main background
}

.pane {
    -fx-background-radius: 15;
    -fx-background-color: #36393f; // 1 Side background
}

.label {
    -fx-text-fill: #ffffff; // 4 Titles
}

.button {
    -fx-background-color: #5a6ac2; // 2 Buttons
    -fx-text-fill: #d2d2d2; // 5 Button text
}

.text-field {
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-insets: -1;
    -fx-background-radius: 5;
    -fx-background-color: #202225; // 3 Fields
    -fx-border-color: #202225; // 6 Fields borders
    -fx-text-inner-color: #8a8b91; // 7 Fields text
}

.hyper-link {
    -fx-text-fill: #04a5e6; // 8 Hyperlinks
}

.exception-label {
    -fx-text-fill: #ff0000;
    -fx-background-radius: 25;
    -fx-border-color: red;
    -fx-border-radius: 25;
    -fx-border-insets: -1;
    -fx-background-color: #2f3136; // 0 Main background
    -fx-pref-height: 50;
    -fx-pref-width: 200;
}